<ion-header>
  <ion-toolbar>
    <ion-title>
      CRUD HProductos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
      <ion-input type="text" hidden [(ngModel)]="idProducto"></ion-input>
      <ion-input type="text" placeholder="Ingrese cantidad" [(ngModel)]="cantidad"></ion-input>
      <ion-input type="text" placeholder="Ingrese ID Producto" [(ngModel)]="idProducto"></ion-input>
      <ion-input type="text" placeholder="Ingrese ID Carrito" [(ngModel)]="idCarritoCompra"></ion-input>
      <div class="item-note" item-end>
          <ion-button *ngIf="!swGuardarCambios" (click)="addHproductos()">Agregar Detalle Producto</ion-button>
<!--           <ion-button *ngIf="swGuardarCambios" color="warning" (click)="guardarCambios()">Guardar Cambios</ion-button>
 -->      </div>
  </ion-item>
  <div padding>
      <ion-list>
          <ion-item *ngFor="let item of listHProducto">
              {{item.id}}
              {{item.cantidad}}
              {{item.idProducto}}
              {{item.idCarritoCompra}}
              {{item.producto}}
              {{item.carritoCompra}}
              <!--<div class="item-note" slot="end">
                  <ion-button color="warning" (click)="updateProducto(item)">Editar</ion-button>
                  <ion-button color="danger" (click)="deleteProducto(item)">Eliminar</ion-button>
              </div>-->
          </ion-item>
      </ion-list>
  </div>
</ion-content>
