<ion-header>
  <ion-toolbar>
    <ion-title>RESERVAS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item>
  
  <ion-button color="success" (click)="abrirModal()">Agregar una reservas</ion-button>
</ion-item>


<!-- <ion-searchbar [(ngModel)]="filtro" placeholder="Buscar Reserva" (ionChange)="filtrarReservas()"></ion-searchbar> -->
<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col>Id</ion-col>
      <ion-col>Id Hab</ion-col>
      <ion-col>Id Usuario</ion-col>
      <ion-col>Fecha Entrada</ion-col>
      <ion-col>Fecha Salida</ion-col>
      <ion-col>Estado Reserva</ion-col>
      <ion-col>Estado Registro</ion-col>
      
      <ion-col>
        Acciones
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let item of lisReserva">
      <ion-col><ion-chip color="primary">{{item.id}}</ion-chip></ion-col>
      <ion-col>{{item.habitacion.nombre}}</ion-col>
      <ion-col>{{item.usuario.nombreCompleto}}</ion-col>
      <ion-col>{{item.fechaEntrada}}</ion-col>
      <ion-col>{{item.fechaSalida}}</ion-col>
      
   
      <ion-col>
        <ion-item>
        <ion-select [(ngModel)]="item.estadoReserva" (ionChange)="id = item.id; estadoReserva = item.estadoReserva; guardarCambios()">
          <ion-select-option *ngFor="let estado of listEstadosReservas" [value]="estado">{{estado}}</ion-select-option>
        </ion-select>
        
      </ion-item>
    </ion-col>
    <ion-col>{{item.estadoRegistro}}</ion-col>
      <ion-col>
        <ion-button id="updateProducto" color="warning" (click)="abrirModalEdicion(item)" >Editar</ion-button>
 
        <ion-button id="deleteProducto" *ngIf="item.estadoRegistro==1"color="danger" (click)="deleteReserva(item)">Eliminar</ion-button>
        <ion-button *ngIf="item.estadoRegistro==0" id="" color="success" (click)="ActivateReserva(item)" >Activar</ion-button>
      </ion-col>
  
    </ion-row>

    
  </ion-grid>
  
</ion-content>